<a href="https://colab.research.google.com/github/fogoke123/Python-Fundamental/blob/main/Copy_of_Air_quality_mini_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clean and wrangle air quality data

The following data file contains data collected at a roadside monitoring station.  You can see the data in a spreadsheet here: https://docs.google.com/spreadsheets/d/1XpAvrpuyMsKDO76EZ3kxuddBOu7cZX1Od4uEts14zco/edit?usp=sharing

The data contains:
* a heading line (Chatham Roadside) which needs to be skipped
* dates which are sometimes left- and sometimes right-justified indicating that they are not formatted as dates, rather they are text (so need to be converted to dates)
* times which are not all in the same format
* Nitrogen Dioxide levels which are, again, text and sometimes contain nodata
* Status which is always the same

### Project - clean, sort and wrangle the data

Read the dataset into a dataframe, skipping the first row   
Convert dates to date format  
Remove rows with nodata in the Nitrogen dioxide column  
Convert the Nitrogen dioxide levels values to float type  
Sort by Nitrogen dioxide level  
Create a new column for 'Weekdays' (use df['Date'].dt.weekday)  
Rename the column Nitrogen dioxide level to NO2 Level (V ug/m2)  
Remove the Status column  

The dataset can be viewed here:  https://drive.google.com/file/d/1aYmBf9il2dWA-EROvbYRCZ1rU2t7JwvJ/view?usp=sharing  and the data accessed here: https://drive.google.com/uc?id=1QSNJ3B1ku8kjXsA_tCBh4fbpDK7wVLAA This is a .csv file  

**NOTE:** Some useful references are included at the bottom of this spreadsheet.

Use the code cell below to work your code.

In [135]:
import numpy as np
import pandas as pd
from datetime import datetime

def air_quality():

  air_data = pd.read_csv("https://drive.google.com/uc?id=1QSNJ3B1ku8kjXsA_tCBh4fbpDK7wVLAA",skiprows = [0])
  air_data.Date = pd.to_datetime(air_data.Date)
  air_details_drop = air_data.dropna(subset = ['Nitrogen dioxide'])
  air_data['Nitrogen dioxide'] = pd.to_numeric(air_data['Nitrogen dioxide'],errors = 'coerce')
  air_sort = air_data.sort_values('Nitrogen dioxide',ascending = True)
  air_sort['DayofWeek'] = air_sort['Date'].dt.day_name()
  air_rename = air_sort.rename(columns={"Nitrogen dioxide": "NO2 Level(V ug/m2)"}, inplace = True)
  drop_column1 = air_sort.drop(['Status'], axis=1)

  air_data.info()
  print(air_details_drop)
  print(air_details)
  print(air_sort)
  print(air_rename)
  print(drop_column1)


air_quality()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              8784 non-null   datetime64[ns]
 1   Time              8784 non-null   object
 2   Nitrogen dioxide  8672 non-null   float64
 3   Status            8784 non-null   object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 274.6+ KB
           Date      Time Nitrogen dioxide   Status
0    2020-01-01      1:00         35.65193  V µg/m³
1    2020-01-01      2:00         37.99122  V µg/m³
2    2020-01-01      3:00         35.70462  V µg/m³
3    2020-01-01      4:00          36.5796  V µg/m³
4    2020-01-01      5:00          32.9441  V µg/m³
...         ...       ...              ...      ...
8779 2020-12-31     20:00         11.22419  V µg/m³
8780 2020-12-31     21:00         11.17037  V µg/m³
8781 2020-12-31     22:00          9.54137  V µg/m³
8782 2020-12-31     23:00          8.21683  V µg/m³
8783 2020-12-31  24:00:00          8.16537  V µg/m³

[8784 rows x 4 columns]
<function air_details at 0x7f4110345680>
           Date   Time  NO2 Level(V ug/m2)   Status  DayofWeek
3442 2020-05-23  11:00             0.31041  V µg/m³   Saturday
5844 2020-08-31  13:00             0.38390  V µg/m³     Monday
7684 2020-11-16   5:00             0.40116  V µg/m³     Monday
7756 2020-11-19   5:00             0.40229  V µg/m³   Thursday
3440 2020-05-23   9:00             0.41544  V µg/m³   Saturday
...         ...    ...                 ...      ...        ...
8202 2020-07-12  19:00                 NaN  V µg/m³     Sunday
8203 2020-07-12  20:00                 NaN  V µg/m³     Sunday
8218 2020-08-12  11:00                 NaN  V µg/m³  Wednesday
8595 2020-12-24   4:00                 NaN  V µg/m³   Thursday
8597 2020-12-24   6:00                 NaN  V µg/m³   Thursday

[8784 rows x 5 columns]
None
           Date   Time  NO2 Level(V ug/m2)  DayofWeek
3442 2020-05-23  11:00             0.31041   Saturday
5844 2020-08-31  13:00             0.38390     Monday
7684 2020-11-16   5:00             0.40116     Monday
7756 2020-11-19   5:00             0.40229   Thursday
3440 2020-05-23   9:00             0.41544   Saturday
...         ...    ...                 ...        ...
8202 2020-07-12  19:00                 NaN     Sunday
8203 2020-07-12  20:00                 NaN     Sunday
8218 2020-08-12  11:00                 NaN  Wednesday
8595 2020-12-24   4:00                 NaN   Thursday
8597 2020-12-24   6:00                 NaN   Thursday

[8784 rows x 4 columns]

### Expand the dataset and show summary statistics for larger dataset
---

There is a second data set here covering the year 2021:  https://drive.google.com/uc?id=1aYmBf9il2dWA-EROvbYRCZ1rU2t7JwvJ  

Concatenate the two datasets to expand it to 2020 and 2021.  

Before you can concatenate the datasets you will need to clean and wrangle the second dataset in the same way as the first.  Use the code cell below.  Give the second dataset a different name. 

After the datasets have been concatenated, group the data by Weekdays and show summary statistics by day of the week.

In [136]:
import numpy as np
import pandas as pd
from datetime import datetime


def air_details():

  air_details = pd.read_csv("https://drive.google.com/uc?id=1aYmBf9il2dWA-EROvbYRCZ1rU2t7JwvJ",skiprows = [0])
  air_details.Date = pd.to_datetime(air_details.Date)
  air_details_drop = air_details.dropna(subset = ['Nitrogen dioxide'])
  air_details['Nitrogen dioxide'] = pd.to_numeric(air_details['Nitrogen dioxide'],errors = 'coerce')
  air_sort = air_details.sort_values('Nitrogen dioxide',ascending = True)
  air_sort['DayofWeek'] = air_sort['Date'].dt.day_name()
  air_rename = air_sort.rename(columns={"Nitrogen dioxide": "NO2 Level(V ug/m2)"}, inplace = True)
  drop_column2 = air_sort.drop(['Status'], axis=1)

 
  air_details.info()
  print(air_details_drop)
  print(air_details)
  print(air_sort)
  print(air_rename)
  print(drop_column2)
  
  



air_details()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              8760 non-null   datetime64[ns]
 1   Time              8760 non-null   object
 2   Nitrogen dioxide  8680 non-null   float64
 3   Status            8760 non-null   object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 273.9+ KB
           Date   Time Nitrogen dioxide   Status
0    2021-01-01  01:00         16.58269  V µg/m³
1    2021-01-01  02:00         14.00478  V µg/m³
2    2021-01-01  03:00         15.35208  V µg/m³
3    2021-01-01  04:00         13.49688  V µg/m³
4    2021-01-01  05:00         12.47511  V µg/m³
...         ...    ...              ...      ...
8755 2021-12-31  20:00         12.51492  P µg/m³
8756 2021-12-31  21:00         14.00046  P µg/m³
8757 2021-12-31  22:00         10.04780  P µg/m³
8758 2021-12-31  23:00          3.49557  P µg/m³
8759 2021-12-31  24:00          4.15682  P µg/m³

[8760 rows x 4 columns]
           Date   Time  Nitrogen dioxide   Status
0    2021-01-01  01:00          16.58269  V µg/m³
1    2021-01-01  02:00          14.00478  V µg/m³
2    2021-01-01  03:00          15.35208  V µg/m³
3    2021-01-01  04:00          13.49688  V µg/m³
4    2021-01-01  05:00          12.47511  V µg/m³
...         ...    ...               ...      ...
8755 2021-12-31  20:00          12.51492  P µg/m³
8756 2021-12-31  21:00          14.00046  P µg/m³
8757 2021-12-31  22:00          10.04780  P µg/m³
8758 2021-12-31  23:00           3.49557  P µg/m³
8759 2021-12-31  24:00           4.15682  P µg/m³

[8760 rows x 4 columns]
           Date   Time  NO2 Level(V ug/m2)   Status  DayofWeek
7177 2021-10-27  02:00            -0.77743  P µg/m³  Wednesday
7009 2021-10-20  02:00            -0.54076  P µg/m³  Wednesday
7107 2021-10-24  04:00            -0.41740  P µg/m³     Sunday
6674 2021-06-10  03:00            -0.31174  P µg/m³   Thursday
7178 2021-10-27  03:00            -0.28544  P µg/m³  Wednesday
...         ...    ...                 ...      ...        ...
6373 2021-09-23  14:00                 NaN  V µg/m³   Thursday
6680 2021-06-10  09:00                 NaN  P µg/m³   Thursday
7017 2021-10-20  10:00                 NaN  P µg/m³  Wednesday
8026 2021-01-12  11:00                 NaN  P µg/m³    Tuesday
8387 2021-12-16  12:00                 NaN  P µg/m³   Thursday

[8760 rows x 5 columns]
None
           Date   Time  NO2 Level(V ug/m2)  DayofWeek
7177 2021-10-27  02:00            -0.77743  Wednesday
7009 2021-10-20  02:00            -0.54076  Wednesday
7107 2021-10-24  04:00            -0.41740     Sunday
6674 2021-06-10  03:00            -0.31174   Thursday
7178 2021-10-27  03:00            -0.28544  Wednesday
...         ...    ...                 ...        ...
6373 2021-09-23  14:00                 NaN   Thursday
6680 2021-06-10  09:00                 NaN   Thursday
7017 2021-10-20  10:00                 NaN  Wednesday
8026 2021-01-12  11:00                 NaN    Tuesday
8387 2021-12-16  12:00                 NaN   Thursday

[8760 rows x 4 columns]

In [149]:
import numpy as np
import pandas as pd
from datetime import datetime

def cleaned_combine():
  pd.concat([air_quality, air_details], ignore_index = True)

cleaned_combine()

TypeError: ignored

### Helpful references
---
Skipping rows when reading datasets:  
https://www.geeksforgeeks.org/how-to-skip-rows-while-reading-csv-file-using-pandas/  

Converting strings to dates:  
https://www.geeksforgeeks.org/convert-the-column-type-from-string-to-datetime-format-in-pandas-dataframe/

Dropping rows where data has a given value:  
https://www.datasciencemadesimple.com/drop-delete-rows-conditions-python-pandas/  
(see section Drop a row or observation by condition) 

Convert a column of strings to a column of floats:
https://datatofish.com/convert-string-to-float-dataframe/  

Create a new column from data converted in an existing column:  
https://www.geeksforgeeks.org/create-a-new-column-in-pandas-dataframe-based-on-the-existing-columns/  

Rename a column:  
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html  

Remove a column by name:  
https://www.kite.com/python/answers/how-to-delete-columns-from-a-pandas-%60dataframe%60-by-column-name-in-python#:~:text=Use%20the%20del%20keyword%20to,the%20name%20column_name%20from%20DataFrame%20.